<mat-card class="card-about">
    <mat-card-header>
        <mat-card-title>About ngBlog</mat-card-title>
        <mat-card-subtitle>Version 0.0.1</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non rem distinctio nisi perspiciatis delectus soluta maiores optio iste accusantium saepe, eum molestiae velit repudiandae possimus accusamus est, ut deleniti, esse enim blanditiis nostrum itaque cumque. Voluptatibus eveniet sequi delectus ratione porro vero, ipsum ab aut, temporibus molestiae a iste unde?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto eum, similique molestias earum quae nulla? Id consequuntur repellendus sapiente eaque, atque in magnam iusto? Maiores doloribus quae amet, excepturi cupiditate et mollitia reprehenderit inventore, nostrum tempore, molestias sunt perspiciatis iusto quibusdam similique voluptates omnis eum veritatis. Quo debitis beatae autem.</p>
    </mat-card-content>
</mat-card>